.wrapper {
  display: flex;
  column-gap: 0.5rem;
}

.mainTask {
  position: relative;
  max-width: 20rem;
  border: solid 1px #212121;
  border-radius: 0.5rem;
  padding: 0.5rem;

  background-color: white;
  filter: brightness(1);

}

.mainTaskDone {
  position: relative;
  max-width: 20rem;
  border: solid 1px #212121;
  border-radius: 0.5rem;
  padding: 0.5rem;
  
  background-color: white;
  filter: brightness(0.5);
}

.name {
  
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}

.name:hover {
  text-decoration: underline;
}
.nameDone {

  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: line-through;
  cursor: pointer;
}

.nameDone:hover {
  text-decoration: underline;
}

.description {
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.tag {
  font-size: 0.75rem;
  margin-top: 0.7rem;
}

.button {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  right: -0.75rem;
  color: white;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: none;
  background-color: black;
  cursor: pointer;
}

.mainTask:hover > .button {
  display: block;
}


.subTasks {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.firstLine {
  display: flex;
}

.doneButton {
  border-radius: 50%;
  border-color: black;
  width: 1.4rem;
  height: 1.4rem;
  background-color:transparent;
  cursor: pointer;
}

.deleteblock {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 50px;
  color: blanchedalmond;
}

.deletebutton {
  background-color: transparent;
  border-color: transparent;
}

.subtasksAndDetail {
  display: flex;
  flex-direction: column;
  
}

.detailBoxShow {
  z-index: 1000;
  position:absolute;
  align-items: center;
  height: 15rem;
  border: solid 1px #212121;
  border-radius: 0.5rem;
  background-color: white;
  padding: 0.5rem;
}

.detailBoxName {
  font-size: 2rem;
  font-weight: 600;
  max-height: 3rem;
  border: none;
  resize: none;

}

.detailBoxDescription {
  position: absolute;
  top: 3rem;
  left: 0.5rem;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  border: none;
  resize: none;
}

.detailBoxTag {
  position: absolute;
  top: 7rem;
  left: 0.5rem;
  font-size: 1.5rem;
  margin-top: 0.5rem;
  border: none;
  resize: none;
}

.closeButton {
  position: absolute;
  right: -0.75rem;
  top: -0.75rem;
  border-radius: 50%;
  border-color: black;
  width: 1.5rem;
  height: 1.5rem;
  background-color: white;
  cursor: pointer;
}

.invisible {
  display: none;
}

.detailSaveButton {
  position: absolute;
  right: 1rem;
  bottom: 1rem; 
  font-weight: bold;
  border-radius: 10%;
  border-color: black;
  width: 3rem;
  height: 1.8rem;
  background-color: transparent;
  cursor: pointer;
}