.mainButton {
  width: max-content;
  padding: 5px;
  outline: none;
  border: solid 1px #00000020;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  font-size: 1.2rem;
  min-width: 13.5rem;
  transition: background-color 0.2s;
}

.mainButton:hover {
  background-color: #f0f0f0;
}
