.main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  
}

.detailBox {
  display: none;
  position: absolute;
  align-self: center;
  width: 20rem;
  height: 20rem;
  border: solid 1px #212121;
  border-radius: 0.5rem;
  background-color: white;
  padding: 0.5rem;
}

.detailBoxShow {
  display: block;
  position: absolute;
  align-self: center;
  width: 20rem;
  height: 20rem;
  border: solid 1px #212121;
  border-radius: 0.5rem;
  background-color: white;
  padding: 0.5rem;
}

.detailBoxName {
  font-size: 2rem;
  font-weight: 600;

}

.detailBoxDescription {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.closeButton {
  position: absolute;
  right: -0.75rem;
  top: -0.75rem;
  border-radius: 50%;
  border-color: black;
  width: 1.5rem;
  height: 1.5rem;
  background-color: white;
  cursor: pointer;
}

